
GuideForDDOn.sln
.vs/GuideForDDOn/v15/.suo
GuideForDDOn.sln
GuideForDDOn/GuideForDDOn.Droid/bin/Debug/GuideForDDOn.Droid-Signed.apk
GuideForDDOn/GuideForDDOn.Droid/bin/Debug/GuideForDDOn.Droid-Signed.apk
GuideForDDOn/GuideForDDOn.Droid/bin/Debug/GuideForDDOn.Droid.apk
*.apk
GuideForDDOn/GuideForDDOn.Droid/bin/Debug/GuideForDDOn.Droid.dll
GuideForDDOn/GuideForDDOn.Droid/bin/Debug/GuideForDDOn.Droid.dll.mdb
GuideForDDOn/GuideForDDOn.Droid/bin/Debug/GuideForDDOn.Droid.pdb
GuideForDDOn/GuideForDDOn.Droid/bin/Debug/Mono.Android.pdb
GuideForDDOn/GuideForDDOn.Droid/bin/Debug/Mono.Security.pdb
GuideForDDOn/GuideForDDOn.Droid/bin/Debug/mscorlib.pdb
GuideForDDOn/GuideForDDOn.Droid/bin/Debug/System.ComponentModel.Composition.pdb
GuideForDDOn/GuideForDDOn.Droid/bin/Debug/System.Core.pdb
GuideForDDOn/GuideForDDOn.Droid/bin/Debug/System.IO.Compression.pdb
GuideForDDOn/GuideForDDOn.Droid/bin/Debug/System.Net.Http.pdb
GuideForDDOn/GuideForDDOn.Droid/bin/Debug/System.pdb
GuideForDDOn/GuideForDDOn.Droid/bin/Debug/System.Runtime.Serialization.pdb
GuideForDDOn/GuideForDDOn.Droid/bin/Debug/System.ServiceModel.Internals.pdb
GuideForDDOn/GuideForDDOn.Droid/bin/Debug/System.Xml.Linq.pdb
GuideForDDOn/GuideForDDOn.Droid/bin/Debug/System.Xml.pdb
GuideForDDOn/GuideForDDOn.Droid/GuideForDDOn.Droid.csproj.user
GuideForDDOn/GuideForDDOn.Droid/obj/.cache/GuideForDDOn.Droid.flag
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/6de9d64c.deployment
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/android/assets/FormsViewGroup.dll
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/android/assets/FormsViewGroup.dll
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/android/assets/FormsViewGroup.dll.mdb
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/android/assets/GuideForDDOn.Droid.dll
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/android/assets/GuideForDDOn.Droid.dll.mdb
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/android/assets/Java.Interop.dll
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/android/assets/machine.config
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/android/assets/Mono.Android.dll
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/android/assets/Mono.Android.pdb
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/android/assets/Mono.Security.dll
*.pdb
*.dll
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/R.txt
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resolved_assemblies.txt
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/proguard.txt
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-af/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-am/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-ar/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-az-rAZ/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-bg/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-bn-rBD/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-ca/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-cs/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-da/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-de/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-el/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-en-rAU/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-en-rGB/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-en-rIN/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-es-rUS/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-es/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-et-rEE/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-eu-rES/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-fa/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-fi/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-fr-rCA/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-fr/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-gl-rES/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-gu-rIN/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-et-rEE/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-es-rUS/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-gl-rES/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-hi/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-hr/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-hu/common_strings.xml
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/resourcecache/1B88BB7B094DA0784F63246F975620E3/res/values-hy-rAM/common_strings.xml
*.xml
WebAPI/obj/Debug/netcoreapp1.0/CoreCompileInputs.cache
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/linksrc/Xamarin.Forms.Platform.Android.dll.mdb
*.mdb
*.java
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/GuideForDDOn.Droid.csproj.FileListAbsolute.txt
GuideForDDOn/GuideForDDOn.Droid/obj/Debug/GuideForDDOn.Droid.csprojResolveAssemblyReference.cache
*.apk
*.dll
*.mdb
*.pdb
*.cache
GuideForDDOn/GuideForDDOn.Droid/bin/Debug/GuideForDDOn.Droid.apk
*.apk
*.dll
*.mdb
*.pdb
*.class
*.java
*.xml
*.txt
*.cache
*.json
*.config
*.dll
*.dex
