@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Guide For DDOn</h1>
    <p class="lead">"Guide For DDOn" é um app Mobile para ajudar os jogadores a encontrar informações em um local facil e rapido.</p>
    <p><a href="https://www.amazon.com/dp/B06XG8FH3P" class="btn btn-primary btn-lg">Download &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Monstros!</h2>
        <p>Veja a Lista de todos os Monstros do jogo, Adicione novos e edits os existentes!</p>
        <p><a href="~/Monstros/Index" class="btn btn-default">Veja a Lista raquo</a></p>
    </div>
    <div class="col-md-4">
        <h2>Noticias</h2>
        <p>Adicine Noticias, Veja as Antigas, exclua ou edite-as com apenas alguns cliques.</p>
        <p><a class="btn btn-default" href="~/NovidadesV/Index">Veja a Lista &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Classes</h2>
        <p>Na lista de classes é possivel modificar as descrições, adiciona/Alterar/Remove habilidades e cria dicas para as classes</p>
        <p><a class="btn btn-default" href="~/JobV/Index">Veja a Lista &raquo;</a></p>
    </div>
</div>
